@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

@mixin button-variant($bg-color) {
    @include button;
    background-color: var($bg-color);
    color: #fff;

    &:hover {
        background-color: color-mix(in srgb, var($bg-color) 90%, black);
    }

    &:active {
        background-color: color-mix(in srgb, var($bg-color) 85%, black);
        transition: transform 0.05s ease-out;
        transform: scale(0.95);
    }

    &:disabled {
        background-color: color-mix(in srgb, var($bg-color) 80%, white);
        cursor: not-allowed;
        transform: none;
    }
}

@mixin button-primary {
    @include button-variant(--pivotick-bg-color-primary);
}
@mixin button-secondary {
    @include button-variant(--pivotick-bg-color-secondary);
}
@mixin button-info {
    @include button-variant(--pivotick-bg-color-info);
}
@mixin button-warning {
    @include button-variant(--pivotick-bg-color-warning);
}
@mixin button-danger {
    @include button-variant(--pivotick-bg-color-danger);
}
@mixin button-success {
    @include button-variant(--pivotick-bg-color-success);
}
@mixin button-link {
    @include button;
    background-color: transparent;
    color: var(--pivotick-text-color-6);

    &:hover {
        color: color-mix(in srgb, var(--pivotick-text-color-5) 80%, white);
    }

    &:active {
        color: color-mix(in srgb, var(--pivotick-text-color-5) 85%, black);
        transition: transform 0.05s ease-out;
        transform: scale(0.95);
    }

    &:disabled {
        color: color-mix(in srgb, var(--pivotick-text-color-5) 80%, white);
        cursor: not-allowed;
        transform: none;
    }
}

/**
 * Outline button
 */
@mixin button-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.1s ease;
}

@mixin button-outline-variant($bg-color) {
    @include button-outline;
    background-color: transparent;
    color: var(--pivotick-text-color);
    border: none;

    &:hover {
        background-color: color-mix(in srgb, var($bg-color) 80%, white);
        color: #fff;
    }

    &:active {
        background-color: color-mix(in srgb, var($bg-color) 85%, black);
        transition: transform 0.05s ease-out;
        transform: scale(0.95);
    }

    &:disabled {
        cursor: not-allowed;
        transform: none;
        &:hover {
            background-color: color-mix(in srgb, var($bg-color) 85%, black);
        }
    }
}

@mixin button-outline-primary {
    @include button-outline-variant(--pivotick-bg-color-primary);
}
@mixin button-outline-secondary {
    @include button-outline-variant(--pivotick-bg-color-secondary);
}
@mixin button-outline-info {
    @include button-outline-variant(--pivotick-bg-color-info);
}
@mixin button-outline-warning {
    @include button-outline-variant(--pivotick-bg-color-warning);
}
@mixin button-outline-danger {
    @include button-outline-variant(--pivotick-bg-color-danger);
}
@mixin button-outline-success {
    @include button-outline-variant(--pivotick-bg-color-success);
}

button.pivotick-button-primary {
    @include button-primary;
}
button.pivotick-button-secondary {
    @include button-secondary;
}
button.pivotick-button-info {
    @include button-info;
}
button.pivotick-button-warning {
    @include button-warning;
}
button.pivotick-button-danger {
    @include button-danger;
}
button.pivotick-button-success {
    @include button-success;
}
button.pivotick-button-link {
    @include button-link;
}
button.pivotick-button-outline-primary {
    @include button-outline-primary;
}
button.pivotick-button-outline-secondary {
    @include button-outline-secondary;
}
button.pivotick-button-outline-info {
    @include button-outline-info;
}
button.pivotick-button-outline-warning {
    @include button-outline-warning;
}
button.pivotick-button-outline-danger {
    @include button-outline-danger;
}
button.pivotick-button-outline-success {
    @include button-outline-success;
}

button.pivotick-button-sm {
    padding: 0.25rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.25rem;
}

button.pivotick-button-xs {
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 0.25rem;
}