.pvt-dropdown {
    position: fixed;
    min-width: 120px;
    display: none;

    transform: translateY(-6px);
    opacity: 0;
}

.pvt-dropdown.open {
    display: block;
    animation: pvt-dropdown-open 120ms ease-out forwards;
}

.pvt-dropdown__menu {
    background-color: color-mix(in srgb, var(--pvt-bg) 80%, white);
    box-shadow: var(--pvt-graph-navigation-control-container-shadow);
    border-radius: 4px;
    padding: 6px;
}

.pvt-dropdown__item {
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: left;
    border: none;
    background: none;
    padding: 3px;
    cursor: pointer;
    font-size: 0.95rem;
    color: color-mix(in srgb, var(--pvt-text-color-5) 80%, white);
    border-radius: 4px;
    transition: font-size 0.15s ease;

    @media (prefers-color-scheme: dark) {
        color: #bbb;
    }

    &:hover,
    &:active {
        color: color-mix(in srgb, var(--pvt-text-color-5) 70%, black);

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
    }
}

.pvt-dropdown__item:hover {
    background-color: color-mix(in srgb, var(--pvt-bg) 70%, white);
}

.pvt-dropdown__item.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.pvt-dropdown__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pvt-dropdown__image {
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 999px;
}

.pvt-dropdown__label {
    flex: 1;
}

@keyframes pvt-dropdown-open {
    from {
        transform: translateY(-6px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}