.pivotick-inline-bar-container {
    position: relative;
    display: inline-block;
    height: var(--pvt-inline-bar-height);
    width: var(--pvt-inline-bar-width);
    background: var(--pvt-inline-bar-bg);
    box-shadow: var(--pvt-inline-bar-shadow);
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;

    .pivotick-inline-bar-fill {
        display: block;
        height: 100%;
        background: var(--pvt-inline-bar-fill-bg);
        background-repeat: no-repeat;
        border-radius: inherit;
        transition: width 0.4s cubic-bezier(.2, .9, .3, 1), background-size 0.4s cubic-bezier(.2, .9, .3, 1);
    }

}

.pivotick-inline-bar-percent {
    white-space: 'nowrap';
    width: 36px;
    text-align: right;
    color: 'var(--pvt-text-color-4)';
}