.pivotick-inline-bar-container {
    display: inline-flex;
    height: var(--pivotick-inline-bar-height);
    width: var(--pivotick-inline-bar-width);
    background-color: var(--pivotick-inline-bar-bg);
    border-radius: 4px;
    overflow: hidden;

    .pivotick-inline-bar-fill {
        display: block;
        height: 100%;
        background-color: var(--pivotick-inline-bar-fill-bg);
    }
}