@use "../../../styles/components/buttons.scss";

.pvt-slide-panel {
    display: hidden;
    position: relative;
    background: var(--pvt-ui-bg);
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
    border-top: 1px solid var(--pvt-border-color);
    box-shadow: var(--pvt-sidebar-layout-shadow-left);

    &.open {
        display: flex;
        flex-direction: column;
        transform: translateX(0);
    }

    .pvt-slide-panel__header {
        padding: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: var(--pvt-sidebar-panel-border);

        button.pvt-close-button {
            @include buttons.button-outline-danger;
            padding: 0.25rem 0.5rem;
            align-self: flex-start;
            font-size: 1.2rem;
            line-height: 0.8rem;
            margin-left: auto;
        }
    }

    .pvt-slide-panel__content {
        flex-grow: 1;
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;

        .pvt-sidebar-separator {
            border-bottom: var(--pvt-sidebar-panel-border);
            margin: 24px -16px 24px -16px;
        }

        .pvt-graph-filter-container {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    }
}