@use '../../../styles/pivotick' as pvt;

.pvt-mainheader-panel {
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    padding: 10px 12px;
    box-shadow: var(--pvt-sidebar-layout-shadow-bottom);

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .pvt-mainheader-nodepreview {
            @include pvt.node-preview-container;

            .pvt-mainheader-icon {
                width: 42px;
                height: 42px;
            }
        }

        .pvt-mainheader-nodeinfo {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: 'Segoe UI', sans-serif;

            .pvt-mainheader-nodeinfo-name {
                @include pvt.node-main-text-element;
            }

            .pvt-mainheader-nodeinfo-subtitle {
                @include pvt.node-sub-text-element;
            }

            .pvt-mainheader-nodeinfo-action {
                flex-shrink: 1;
            }
        }
    }
}