.pvt-mainheader-panel {
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    margin: 10px 8px;
    padding: 10px 12px;
    background-color: var(--pvt-sidebar-mainpanelheader-bg);
    border: var(--pvt-sidebar-panel-border);
    box-shadow: var(--pvt-sidebar-layout-shadow-bottom);

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .pvt-mainheader-nodepreview {
            flex-shrink: 0;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--pvt-mainheader-nodepreview-bg);
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px hsla(0, 0%, 0%, .05);

            .pvt-mainheader-icon {
                width: 42px;
                height: 42px;
            }
        }

        .pvt-mainheader-nodeinfo {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: 'Segoe UI', sans-serif;

            .pvt-mainheader-nodeinfo-name {
                font-size: 16px;
                font-weight: 600;
                color: var(--pvt-text-color-6);
                /* for multiline ellipsis */
                white-space: normal;
                overflow: auto;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                user-select: all;
            }

            .pvt-mainheader-nodeinfo-subtitle {
                font-size: 12px;
                color: var(--pvt-text-color-5);
                text-overflow: ellipsis;
                overflow: hidden;
                user-select: all;
                /* for multiline ellipsis */
                white-space: normal;
                overflow: auto;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                user-select: all;
            }

            .pvt-mainheader-nodeinfo-action {
                flex-shrink: 1;
            }
        }
    }
}