.pvt-properties-body-panel {

    .pvt-aggregated-property-section {
        margin-bottom: 14px;
        border: 1px solid var(--pvt-bg-color-4);
        border-radius: 2px;
        box-shadow: var(--pvt-box-shadow-medium);

        .pvt-aggregated-property-title {
            display: inline-block;
            padding: 4px 8px;
            margin-bottom: 2px;
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
            color: var(--pvt-text-color-5);
            background-color: var(--pvt-bg-color-4);
            border-top-left-radius: 0px;
            border-bottom-right-radius: 2px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            text-transform: uppercase;
        }

        .pvt-aggregated-property-container {
            padding: 4px;
            display: flex;
            flex-direction: column;
            gap: 2px;

            .pvt-aggregated-property-row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .pvt-aggregated-property-value {
                    flex-grow: 1;
                    font-family: monospace;
                    font-size: 0.8rem;

                    &.code-container {
                        position: relative;
                        margin-right: 8px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        user-select: all;

                        font-size: 0.875rem;
                        font-weight: 400;
                        padding: 2px 4px;
                        border: 1px solid var(--pvt-text-color-1);
                        border-radius: 4px;
                        background-color: var(--pvt-bg-color-0);
                        color: var(--pvt-text-color-primary);

                        .pvt-aggregated-property-actions {
                            display: none;
                            position: absolute;
                            right: 4px;
                            flex-direction: row;
                            gap: 4px;

                            button {
                                border: none;
                                background: none;
                                padding: 0;
                                cursor: pointer;
                                font-size: 1rem;
                                color: color-mix(in srgb, var(--pvt-text-color-5) 80%, white);
                                transition: font-size 0.15s ease;
                                max-height: 22px;

                                &:hover:not(:disabled),
                                &:active:not(:disabled) {
                                    color: color-mix(in srgb, var(--pvt-text-color-5) 70%, black);
                                }
                            
                                &:disabled {
                                    filter: brightness(2);
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }

                    &.code-container:hover .pvt-aggregated-property-actions {
                        display: inline-flex;
                    }
                }

                .pvt-aggregated-property-count {
                    --pvt-inline-bar-width: 60px;
                }

                .pvt-aggregated-property-value-dim {
                    display: inline-block;
                    width: 100%;
                    color: var(--pvt-text-color-3);
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}
