.pivotick-properties-body-panel {

    .pivotick-aggregated-property-section {
        margin-bottom: 14px;

        .pivotick-aggregated-property-title {
            display: block;
            padding: 8px;
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
            color: color-mix(in srgb, var(--pivotick-bg-color-primary) 70%, var(--pivotick-text-color-6));
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            text-transform: uppercase;
        }

        .pivotick-aggregated-property-container {
            padding: 4px;
            display: flex;
            flex-direction: column;
            gap: 2px;

            .pivotick-aggregated-property-row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .pivotick-aggregated-property-value {
                    flex-grow: 1;
                    font-family: monospace;
                    font-size: 0.8rem;

                    &.code-container {
                        margin-right: 8px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        user-select: all;

                        font-size: 0.875rem;
                        font-weight: 400;
                        padding: 2px 4px;
                        border: 1px solid var(--pivotick-text-color-1);
                        border-radius: 4px;
                        background-color: var(--pivotick-bg-color-0);
                        color: var(--pivotick-text-color-primary);
                    }
                }

                .pivotick-aggregated-property-count {
                    --pivotick-inline-bar-width: 60px;
                }

                .pivotick-aggregated-property-value-dim {
                    display: inline-block;
                    width: 100%;
                    color: var(--pivotick-text-color-3);
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}
