.pivotick-properties-body-panel {

    .pivotick-aggregated-property-section {
        margin-bottom: 14px;
        border: var(--pivotick-sidebar-panel-border);
        border-radius: 4px;
        box-shadow: var(--pivotic-sidebar-layout-shadow-right);

        .pivotick-aggregated-property-title {
            display: block;
            padding: 8px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: var(--pivotick-sidebar-panel-border);
            background-color: var(--pivotick-sidebar-subpanelheader-bg);
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
            color: color-mix(in srgb, var(--pivotick-primary-bg-color) 70%, #000);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            text-transform: uppercase;
        }

        .pivotick-aggregated-property-container {
            padding: 4px;
            display: flex;
            flex-direction: column;
            gap: 2px;

            .pivotick-aggregated-property-row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .pivotick-aggregated-property-value {
                    flex-grow: 1;
                    font-family: monospace;
                    font-size: 0.9rem;
                    padding: 2px 4px;
                    border: 1px solid #eee;
                    border-radius: 4px;
                    background-color: #f5f5f5;
                    color: #333;
                    margin-right: 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    user-select: contain;
                }

                .pivotick-aggregated-property-count {
                    --pivotick-inline-bar-width: 60px;
                }
            }
        }
    }
}
