.pivotick-sidebar-container {
    position: relative;
    box-shadow: var(--pivotic-sidebar-layout-shadow-right);

    .pivotick-sidebar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 8px;

        .enter-active {
            opacity: 1 !important;
            transform: translateX(0) !important;
        }
        .enter-ready {
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;
            transform: translateX(-8px);
        }

        .pivotick-mainheader-panel {
            min-height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;

            padding: 10px 12px;
            background-color: var(--pivotick-sidebar-panelheader-bg);
            border: var(--pivotick-sidebar-panel-border);
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.10);

            & > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                .pivotick-mainheader-nodepreview {
                    flex-shrink: 0;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--pivotick-mainheader-nodepreview-bg);
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    .pivotick-mainheader-icon {
                        width: 42px;
                        height: 42px;
                    }
                }

                .pivotick-mainheader-nodeinfo {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: 'Segoe UI', sans-serif;

                    .pivotick-mainheader-nodeinfo-name {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--pivotick-text-color);
                    }

                    .pivotick-mainheader-nodeinfo-subtitle {
                        font-size: 12px;
                        color: var(--pivotick-text-color-softer);
                    }

                    .pivotick-mainheader-nodeinfo-action {
                        flex-shrink: 1;
                    }
                }
            }
        }

        .pivotick-properties-panel {
            .pivotick-properties-header-panel {
                min-height: 40px;
                background-color: var(--pivotick-sidebar-panelheader-bg);
                border: var(--pivotick-sidebar-panel-border);
                padding: 0px 10px;
    
                h4 {
                    font-weight: 400;
                }
            }
        
            .pivotick-properties-body-panel {
                min-height: 32px;
                background-color: var(--pivotick-sidebar-panelbody-bg);
                border-left: var(--pivotick-sidebar-panel-border);
                border-bottom: var(--pivotick-sidebar-panel-border);
                border-right: var(--pivotick-sidebar-panel-border);
                padding: 8px 10px;

                dl {
                    margin: 0;
                    background: #fff;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    font-size: 0.95em;

                    .pivotick-property-row {
                      display: grid;
                      grid-template-columns: 80px 1fr;
                      gap: 8px 12px;
                      padding: 0.5em 0;
                      align-items: center;

                      .pivotick-property-name {
                        font-weight: 300;
                        color: var(--pivotick-text-color-softer);
                      }

                      .pivotick-property-value {
                        font-weight: 400;
                        color: var(--pivotick-text-color);
                      }
                    }

                  }

            }
        }

    }
}
