.pivotick-sidebar-container {
    position: relative;
    box-shadow: var(--pivotic-sidebar-layout-shadow-right);

    .pivotick-sidebar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 8px;

        .enter-active {
            opacity: 1 !important;
            transform: translateX(0) !important;
        }
        .enter-ready {
            transition: opacity 0.1s ease, transform 0.1s ease;
            opacity: 0;
            transform: translateX(-8px);
        }

        .pivotick-extra-panel {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .pivotick-sidebar-panel {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

            & > .enter-ready {
                box-shadow: var(--pivotic-sidebar-layout-shadow-bottom);
            }

            .pivotick-sidebar-header-panel {
                display: flex;
                min-height: 40px;
                background-color: var(--pivotick-sidebar-panelheader-bg);
                border: var(--pivotick-sidebar-panel-border);
                padding: 0px 10px;
                align-items: center;
                padding: 10px 12px;
            }

            .pivotick-sidebar-body-panel {
                min-height: 32px;
                background-color: var(--pivotick-sidebar-panelbody-bg);
                border-left: var(--pivotick-sidebar-panel-border);
                border-bottom: var(--pivotick-sidebar-panel-border);
                border-right: var(--pivotick-sidebar-panel-border);
                padding: 8px 10px;
            }
        }
    }
}
