.pivotick-sidebar-container {
    position: relative;
    box-shadow: var(--pivotic-sidebar-layout-shadow-right);

    .pivotick-sidebar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 8px;

        .enter-active {
            opacity: 1 !important;
            transform: translateX(0) !important;
        }
        .enter-ready {
            transition: opacity 0.2s ease, transform 0.2s ease;
            opacity: 0;
            transform: translateX(-8px);
        }
    }
}
