@use "../../../styles/components/buttons.scss";
@use "../../../styles/components/input.scss";

.pvt-toolbar {
    box-shadow: var(--pvt-sidebar-layout-shadow-bottom);

    .pvt-toolbar-elements {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        margin: 2px 6px;

        .pvt-searchbox {
            flex-grow: 1;
            position: relative;

            label {
                margin-bottom: 0.2rem;
                font-size: 0.9rem;
            }

            div.input-container {
                position: relative;

                div.icon-container {
                    position: absolute;
                    inset-block: 0;
                    inset-inline-start: 0;
                    display: flex;
                    align-items: center;
                    padding-inline-start: 0.75rem;
                    pointer-events: none;

                    svg {
                        width: 1rem;
                        height: 1rem;
                        color: var(--pvt-text-color-6);
                        opacity: 0.7;
                    }
                }

                input {
                    @include input.input-primary;
                    display: block;
                    width: 100%;
                    padding: 0.8rem;
                    padding-inline-start: 2.5rem;
                    padding-inline-end: 5rem;
                    font-size: 0.8rem;
                }

                button {
                    @include buttons.button-primary;
                    position: absolute;
                    right: 0.4rem;
                    bottom: 5px;
                }

            }
        }

        .pvt-filter {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 4px;

            button.pvt-button-filter {
                @include buttons.button-outline-secondary;
                padding: 0.5rem 0.5rem;
            }

            div.pvt-undoredo-group {
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;

                button {
                    @include buttons.button-outline-info;
                    padding: 0.5rem 0.5rem;
                }
            }
        }
    }
}