@use "../../../styles/components/buttons.scss";
@use "../../../styles/components/input.scss";

.pvt-toolbar {
    background: var(--pvt-ui-bg);
    box-shadow: var(--pvt-sidebar-layout-shadow-bottom);
    border-left: var(--pvt-sidebar-panel-border);

    .pvt-toolbar-elements {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        margin: 2px 6px;
        width: 100%;
        padding-left: 0.5rem;

        .pvt-action-button {

            div.action-container {
                position: relative;
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                padding: 6px 12px;
                border-radius: 4px;
                background-color: var(--pvt-bg-color-1);
                color: var(--pvt-text-color-4);
                box-shadow: var(--pvt-action-container-shadow);

                span.action-text {
                    font-size: 0.8em;
                    margin: 0 0.25em;
                    user-select: none;
                }

                span.icon-container {
                    svg {
                        width: 0.8rem;
                        height: 0.8rem;
                        color: var(--pvt-text-color-6);
                        opacity: 0.7;
                    }
                }
            }

            &:active {
                transition: transform 0.05s ease-out;
                transform: scale(0.95);
            }
        }

        .pvt-right {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 4px;

            button.pvt-button-filter {
                @include buttons.button-outline-info;
                padding: 0.5rem 0.5rem;
            }

            div.pvt-undoredo-group {
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;

                button {
                    @include buttons.button-outline-secondary;
                    padding: 0.5rem 0.5rem;
                }
            }
        }
    }
}