@keyframes glowPulse {
    0% {
        stroke-width: 3;
        filter: drop-shadow(0 0 2px var(--pvt-node-selected-color));
    }

    50% {
        stroke-width: 5;
        filter: drop-shadow(0 0 6px var(--pvt-node-selected-color));
    }

    100% {
        stroke-width: 3;
        filter: drop-shadow(0 0 2px var(--pvt-node-selected-color));
    }
}

@keyframes dashmove {
    to {
        stroke-dashoffset: -10;
    }
}