@import 'components/buttons.scss';

.pivotick-graph-container {
    width: 100%;
    height: 100%;
    background-color: var(--pivotick-bg);
    position: relative;
    overflow: hidden;
}

.pivotick-layout {
    --pivotick-sidebar-width: 340px;
    --pivotick-toolbar-height: 48px;

    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--pivotick-sidebar-width) 1fr;
    grid-template-rows: var(--pivotick-toolbar-height) 1fr;
    grid-template-areas: 
        "sidebar toolbar"
        "sidebar canvas";

    &.mode-static,
    &.mode-viewer {
        grid-template-columns: 0px 1fr;
        grid-template-rows: 0px 1fr;
    }

    &.mode-light {
        grid-template-columns: 0px 1fr;
        grid-template-rows: var(--pivotick-toolbar-height) 1fr;
    }

    &.mode-full.sidebar-collapsed {
        grid-template-columns: 0px 1fr;
    }
}

.pivotick-sidebar-container {
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pivotick-canvas-container {
    grid-area: canvas;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .slide-panel {
        position: absolute;
        top: 0.25rem;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 1000;
    }
}

.pivotick-toolbar-container {
    grid-area: toolbar;
    height: 100%;
    width: calc(100%);// - 12px);
    z-index: 10;
}

.pivotick-graphnavigation-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.pivotick-graphcontrols-container {
}

