@use 'components/buttons.scss';

.pivotick {
    width: 100%;
    height: 100%;
    color: var(--pvt-text-color-6);
    background-color: var(--pvt-bg);
    position: relative;
    overflow: hidden;
}

.pvt-layout {
    --pvt-sidebar-width: 340px;
    --pvt-toolbar-height: 48px;

    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--pvt-toolbar-height) 1fr;
    grid-template-areas: 
        "sidebar toolbar"
        "sidebar canvas";

    &.mode-static,
    &.mode-viewer {
        grid-template-columns: 0px 1fr;
        grid-template-rows: 0px 1fr;
    }

    &.mode-light {
        grid-template-columns: 0px 1fr;
        grid-template-rows: var(--pvt-toolbar-height) 1fr;
    }

    &.mode-full.sidebar-collapsed {
        grid-template-columns: 0px 1fr;
    }
}

.pvt-sidebar {
    width: var(--pvt-sidebar-width);
    grid-area: sidebar;
    height: 100%;
    transition: width 0.1s ease-out;

    .pvt-sidebar-elements {
        // transition: opacity 0.1s cubic-bezier(0, 0, 1, -0.15);
        opacity: 100%;
    }

    &.pvt-sidebar-collapsed {
        width: 0px;

        .pvt-sidebar-elements {
            opacity: 0%;
        }
    }
}

.pvt-canvas {
    grid-area: canvas;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .slide-panel {
        position: absolute;
        top: 0.25rem;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 1000;
    }

    .pvt-notification {
        position: absolute;
        top: 1em;
        right: 3em;
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.pvt-toolbar {
    grid-area: toolbar;
    height: 100%;
    width: calc(100%);// - 12px);
    z-index: 10;
}

.pvt-graphnavigation {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.pvt-graphcontrols {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

