.pivotick-layout {
    color: var(--pivotick-text-color-6)
}

.hidden {
    display: none;
}

.pivotick-canvas-container {
    width: 100%;
    height: 100%;
    background-color: var(--pivotick-bg);
    background-image: var(--pivotick-graph-background-image);
}


.pivotick-loading-progress-bar {
    &.hidden {
        visibility: hidden;
    }

    rect.background {
        fill: #fafafa;
        rx: 4;
        ry: 4;
        x: -10px;
        y: -10px;
        height: 70px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    }
    rect.track {
        fill: #e0e0e0;
        height: 8px;
        rx: 4;
        ry: 4;
    }
    rect.fill {
        height: 8px;
        fill: var(--pivotick-bg-color-primary);
        rx: 4;
        ry: 4;
    }
    text.label {
        text-anchor: middle;
        font-size: 16px;
        fill: #555;
    }
}

dl.pivotick-property-list {
    margin: 0;
    background: #fff;
    font-size: 0.95em;
    overflow: hidden;
    display: grid;
    grid-template-columns: fit-content(90px) 1fr;
    gap: 8px 12px;

    .pivotick-property-row {
        display: contents;
        padding: 0.25em 0;
        align-items: center;

        .pivotick-property-name {
            padding: 2px 4px;
            font-size: 0.9rem;
            font-weight: 300;
            color: var(--pivotick-text-color-5);
            text-align: end;
            align-self: start;
            white-space: normal;
            user-select: all;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pivotick-property-value {
            margin-inline-start: 0;
            font-size: 0.875rem;
            font-weight: 400;
            padding: 2px 4px;
            border: 1px solid var(--pivotick-text-color-1);
            border-radius: 4px;
            background-color: var(--pivotick-bg-color-0);
            color: var(--pivotick-text-color-primary);
            align-self: start;
            user-select: all;
            min-height: 1em;
            white-space: normal;
            overflow: auto;
            word-break: break-all;
            display: -webkit-box;
            /* for multiline ellipsis */
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            box-shadow: color-mix(in srgb, var(--pivotick-text-color-6) 6%, transparent) 0px 2px 4px 0px inset;
        }
    }
}

.pivotick-node-selected-highlight {
    stroke: var(--pivotick-node-selected-stroke);
    stroke-width: var(--pivotick-node-selected-stroke-width);
    stroke-opacity: var(--pivotick-edge-selected-stroke-opacity);
    filter: var(--pivotick-node-selected-filter);
    animation: var(--pivotick-node-selected-animation);
}

.edge-group {
    path {
        stroke: var(--pivotick-edge-stroke);
        stroke-width: var(--pivotick-edge-stroke-width);
        filter: var(--pivotick-edge-filter);

        &.dashed {
            stroke-dasharray: var(--pivotick-edge-stroke-dasharray);

            &.animated {
                stroke-dashoffset: 0;
                animation: var(--pivotick-edge-animation);
            }
        }
    }

    .label-container {
        rect {
            stroke: var(--pivotick-edge-label-stroke);
            stroke-width: var(--pivotick-edge-label-stroke-width);
            background-color: var(--pivotick-edge-label-bg);
        }
        text {
            color: var(--pivotick-edge-label-color);
            font-family: var(--pivotick-edge-label-font-family);
            font-size: var(--pivotick-edge-label-font-size);
            user-select: none;
        }
    }

    &.selected {
        path {
            stroke: var(--pivotick-edge-selected-stroke);
            stroke-width: var(--pivotick-edge-selected-stroke-width);
            filter: var(--pivotick-edge-selected-filter);
        }
    
        .label-container {
            rect {
                stroke: var(--pivotick-edge-label-selected-stroke);
                stroke-width: var(--pivotick-edge-label-selected-stroke-width);
                background-color: var(--pivotick-edge-label-selected-bg);
            }
            text {
                color: var(--pivotick-edge-label-selected-color);
                font-size: var(--pivotick-edge-label-selected-font-size);
            }
        }
    }
}

.node-shape {
    // transition: transform 0.3s ease;

    text.icon {
        user-select: none;
        pointer-events: none;

        &.icon-unicode {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: var(--pivotick-node-icon-font-family, "Font Awesome 7 Free");
            font-feature-settings: normal;
            font-style: normal;
            font-synthesis: none;
            font-variant: normal;
            font-weight: var(--pivotick-node-icon-font-weight, 900);
            line-height: 1;
            text-align: center;
            text-rendering: auto;
        }
    }
}

.selection-rectangle {
    fill: var(--pivotick-selection-rectangle-fill);
    stroke: var(--pivotick-selection-rectangle-stroke);
    stroke-width: 2px;
}

.pivotick-icon.fixed-width {
    width: 1em;
}