.pvt-layout {
    color: var(--pvt-text-color-6)
}

.hidden {
    display: none;
}

.pvt-canvas {
    background-color: var(--pvt-bg);
    background-image: var(--pvt-graph-background-image);
}


.pvt-loading-progress-bar {
    padding: 0.75em;
    background: var(--pvt-menu-bg-color);
    border: 1px solid var(--pvt-menu-border-color);
    box-shadow: var(--pvt-box-shadow-strong);
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden {
        visibility: hidden;
    }

    div.background {
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 0.5em;

        .track {
            position: relative;
            background: #e0e0e0;
            border-radius: 4px;
            height: 8px;
            rx: 4;
            ry: 4;
            overflow: hidden;
        }

        .fill {
            height: 100%;
            background: var(--pvt-bg-color-primary);
        }
    }
    span.label {
        text-anchor: middle;
        font-size: 16px;
        fill: #555;
    }
}

dl.pvt-property-list {
    margin: 0;
    background: var(--pvt-bg-color-3);
    font-size: 0.95em;
    overflow: hidden;
    display: grid;
    grid-template-columns: fit-content(120px) 1fr;
    gap: 8px 12px;

    .pvt-property-row {
        display: contents;
        padding: 0.25em 0;
        align-items: center;

        .pvt-property-name {
            padding: 2px 4px;
            font-size: 0.9rem;
            font-weight: 300;
            color: var(--pvt-text-color-5);
            text-align: end;
            align-self: start;
            white-space: normal;
            user-select: all;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pvt-property-value {
            margin-inline-start: 0;
            font-size: 0.875rem;
            font-weight: 400;
            padding: 2px 4px;
            color: var(--pvt-text-color-primary);
            align-self: start;
            user-select: all;
            min-height: 1em;
            white-space: normal;
            overflow: auto;
            word-break: break-all;
            display: -webkit-box;
            /* for multiline ellipsis */
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            box-orient: vertical;
        }
    }
}

.pvt-node-selected-highlight > * {
    fill: var(--pvt-node-selected-stroke);
    stroke: var(--pvt-node-selected-stroke);
    stroke-width: var(--pvt-node-selected-stroke-width);
    stroke-opacity: var(--pvt-node-selected-stroke-opacity);
    filter: var(--pvt-node-selected-filter);
    animation: var(--pvt-node-selected-animation);
}

.pvt-edge-group {
    path {
        filter: var(--pvt-edge-filter);

        &.dashed {
            stroke-dasharray: var(--pvt-edge-stroke-dasharray);

            &.animated {
                stroke-dashoffset: 0;
                animation: var(--pvt-edge-animation);
            }
        }
    }

    .label-container {
        rect {
            stroke: var(--pvt-edge-label-stroke);
            stroke-width: var(--pvt-edge-label-stroke-width);
            background-color: var(--pvt-edge-label-bg);
        }
        text {
            color: var(--pvt-edge-label-color);
            font-family: var(--pvt-edge-label-font-family);
            font-size: var(--pvt-edge-label-font-size);
            user-select: none;
        }
    }

    &.selected {
        path {
            stroke: var(--pvt-edge-selected-stroke);
            stroke-width: var(--pvt-edge-selected-stroke-width);
            filter: var(--pvt-edge-selected-filter);
        }
    
        .label-container {
            rect {
                stroke: var(--pvt-edge-label-selected-stroke);
                stroke-width: var(--pvt-edge-label-selected-stroke-width);
                background-color: var(--pvt-edge-label-selected-bg);
            }
            text {
                color: var(--pvt-edge-label-selected-color);
                font-size: var(--pvt-edge-label-selected-font-size);
            }
        }
    }
}

.pvt-node {
    // transition: transform 0.3s ease;

    text.icon {
        user-select: none;
        pointer-events: none;

        &.icon-unicode {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: var(--pvt-node-icon-font-family, "Font Awesome 7 Free");
            font-feature-settings: normal;
            font-style: normal;
            font-synthesis: none;
            font-variant: normal;
            font-weight: var(--pvt-node-icon-font-weight, 900);
            line-height: 1;
            text-align: center;
            text-rendering: auto;
        }
    }

    &:hover {
        cursor: grab;
    }
}

.pvt-selection-rectangle {
    fill: var(--pvt-selection-rectangle-fill);
    stroke: var(--pvt-selection-rectangle-stroke);
    stroke-width: 2px;
}

.pvt-icon.fixed-width {
    width: 1em;
}