
@function text-color($bg) {
    $r: red($bg);
    $g: green($bg);
    $b: blue($bg);
    $luminance: 0.299 * $r + 0.587 * $g + 0.114 * $b;
    @return if(sass($luminance > 186): black; else: white);
}