:root {
    --pivotick-bg: #ffffff;
    --pivotick-text-color: #fff;
    --pivotick-text-color-dark: #333;
    --pivotick-primary-bg-color: #2563EB;
    --pivotick-secondary-bg-color: #7C3AED;
    --pivotick-info-bg-color: #25b6eb;
    --pivotick-warning-bg-color: #F59E0B;
    --pivotick-danger-bg-color: #DC2626;

    --pivotick-border-color: #ccc;

    /* Sidebar */
    --pivotick-sidebar-panelheader-bg: #f9f9f9;
    --pivotick-sidebar-panelbody-bg: #fff;
    --pivotick-sidebar-panel-border: 1px solid var(--pivotick-border-color);
    --pivotic-sidebar-layout-shadow-right: rgba(0, 0, 0, 0.07) 2px 0px 3px 0px,
                                           rgba(0, 0, 0, 0.04) 3px 0px 2px 0px;
    // --pivotic-sidebar-layout-shadow-bottom: rgba(0, 0, 0, 0.07) 0px 2px 3px 0px,
    //                                         rgba(0, 0, 0, 0.04) 0px 3px 2px 0px;
    --pivotic-sidebar-layout-shadow-bottom: rgba(0, 0, 0, 0.07) 3px 2px 3px 0px,
                                            rgba(0, 0, 0, 0.04) 2px 3px 2px 0px;

    /* Graph canvas */
    --pivotick-graph-grid-color: #f5f5f5;
    --pivotick-graph-background-image:
        repeating-linear-gradient(0deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px),
        repeating-linear-gradient(90deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px);
    ;

    /* Node defaults */
    --pivotick-node-color: #007acc;
    --pivotick-node-stroke: #fff;
    --pivotick-node-text-color: #fff;
    --pivotick-node-icon-font-family: 'Font Awesome 7 Free';
    --pivotick-node-icon-font-weight: 900;

    /* Node selected state */
    --pivotick-node-selected-color: orange;
    --pivotick-node-selected-stroke: var(--pivotick-node-selected-color);
    --pivotick-node-selected-stroke-width: 3;
    --pivotick-node-selected-filter: drop-shadow(0 0 6px var(--pivotick-node-selected-color));
    --pivotick-node-selected-animation: glowPulse 1.5s infinite;

    /* Edge defaults */
    --pivotick-edge-stroke: #999;
    --pivotick-edge-stroke-width: 2;
    --pivotick-edge-stroke-opacity: 1;
    --pivotick-edge-stroke-dasharray: 6, 4;
    --pivotick-edge-animation: dashmove 1s linear infinite;
    --pivotick-edge-filter: none;
    --pivotick-edge-label-bg: #ffffffa0;
    --pivotick-edge-label-font-family: system-ui, sans-serif;
    --pivotick-edge-label-font-size: 12px;
    --pivotick-edge-label-color: #333;
    --pivotick-edge-label-stroke: none;
    --pivotick-edge-label-stroke-width: 1;

    /* Edge selected state */
    --pivotick-edge-selected-stroke: orange;
    --pivotick-edge-selected-stroke-width: 5;
    --pivotick-edge-selected-stroke-opacity: 0.8;
    --pivotick-edge-selected-filter: drop-shadow(0 0 1px orange);
    --pivotick-edge-label-selected-stroke: orange;
    --pivotick-edge-label-selected-stroke-width: 2;
    --pivotick-edge-label-selected-color: var(--pivotick-edge-label-color);
    --pivotick-edge-label-selected-font-size: var(--pivotick-edge-label-font-size);
    --pivotick-edge-label-selected-bg: #ffffffa0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --pivotick-bg: #1e1e1e;
        --pivotick-grid-color: #333;
    }
}

[data-theme="dark"] {
    --pivotick-bg: #1e1e1e;
    --pivotick-grid-color: #333;
}