@use 'sass:color';
@use 'utils';

$primary: #2563EB;
$secondary: #7C3AED;
$info: #25B6EB;
$warning: #F59E0B;
$danger: #DC2626;
$success: #16A34A;

$toast-text-success: text-color($success);

:root {
    --pivotick-bg: #ffffff;
    --pivotick-border-color: #ccc;
    --pivotick-text-color: #000;
    --pivotick-text-color-softer: #333;
    --pivotick-text-color-softer2: #666;
    --pivotick-primary-bg-color: #{$primary};
    --pivotick-secondary-bg-color: #{$secondary};
    --pivotick-info-bg-color: #{$info};
    --pivotick-warning-bg-color: #{$warning};
    --pivotick-danger-bg-color: #{$danger};
    --pivotick-success-bg-color: #{$success};
    --pivotick-text-color-for-primary: #fff;
    --pivotick-text-color-for-secondary: #fff;
    --pivotick-text-color-for-info: #fff;
    --pivotick-text-color-for-warning: #fff;
    --pivotick-text-color-for-danger: #fff;
    --pivotick-text-color-for-success: #fff;

    --pivotick-box-shadow-light: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --pivotick-box-shadow-medium: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                                  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --pivotick-box-shadow-strong: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                                  rgba(0, 0, 0, 0.23) 0px 3px 6px;


    /* Sidebar */
    --pivotick-sidebar-panelheader-bg: #fafafa;
    --pivotick-sidebar-panelbody-bg: #fff;
    --pivotick-sidebar-panel-border: 1px solid #e0e0e0;
    --pivotick-sidebar-subpanelheader-bg: #f6f3f4;
    --pivotick-mainheader-nodepreview-bg: #ffffff;
    --pivotic-sidebar-layout-shadow-right: rgba(0, 0, 0, 0.07) 2px 0px 3px 0px,
                                           rgba(0, 0, 0, 0.04) 3px 0px 2px 0px;
    --pivotic-sidebar-layout-shadow-bottom: rgba(0, 0, 0, 0.07) 3px 2px 3px 0px,
                                            rgba(0, 0, 0, 0.04) 2px 3px 2px 0px;
    --pivotic-sidebar-collapse-bg: var(--pivotick-bg);
    --pivotic-sidebar-collapse-color: var(--pivotick-text-color-softer2);
    --pivotic-sidebar-collapse-shadow: var(--pivotick-box-shadow-strong);

    /* Tooltip */
    --pivotick-tooltip-floating-bg-color: #d6d6d6;

    /* Graph notification */
    --pivotick-toast-bg-color-primary: #{color.mix(white, $primary, 40%)};
    --pivotick-toast-bg-color-secondary: #{color.mix(white, $secondary, 40%)};
    --pivotick-toast-bg-color-info: #{color.mix(white, $info, 40%)};
    --pivotick-toast-bg-color-warning: #{color.mix(white, $warning, 40%)};
    --pivotick-toast-bg-color-danger: #{color.mix(white, $danger, 40%)};
    --pivotick-toast-bg-color-success: #{color.mix(white, $success, 40%)};

    --pivotick-toast-text-color-primary: #{color.mix(black, $primary, 70%)};
    --pivotick-toast-text-color-secondary: #{color.mix(black, $secondary, 70%)};
    --pivotick-toast-text-color-info: #{color.mix(black, $info, 70%)};
    --pivotick-toast-text-color-warning: #{color.mix(black, $warning, 70%)};
    --pivotick-toast-text-color-danger: #{color.mix(black, $danger, 70%)};
    --pivotick-toast-text-color-success: #{color.mix(black, $success, 70%)};

    /* Graph canvas */
    --pivotick-graph-grid-color: #f5f5f5;
    --pivotick-graph-background-image:
        repeating-linear-gradient(0deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px),
        repeating-linear-gradient(90deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px);
    --pivotic-graph-navigation-control-container-shadow:
        rgba(0, 0, 0, 0.22) 0px 0px 4px,
        rgba(0, 0, 0, 0.30) 0px 1px 2px;
    --pivotick-selection-rectangle-fill: color-mix(in srgb, var(--pivotick-primary-bg-color) 20%, #ffffff00);
    --pivotick-selection-rectangle-stroke:color-mix(in srgb, var(--pivotick-primary-bg-color) 80%, #ffffff00);

    /* Node defaults */
    --pivotick-node-color: #007acc;
    --pivotick-node-stroke: #fff;
    --pivotick-node-text-color: #fff;
    --pivotick-node-icon-font-family: 'Font Awesome 7 Free';
    --pivotick-node-icon-font-weight: 900;

    /* Node selected state */
    --pivotick-node-selected-color: orange;
    --pivotick-node-selected-stroke: var(--pivotick-node-selected-color);
    --pivotick-node-selected-stroke-width: 3;
    --pivotick-node-selected-filter: drop-shadow(0 0 2px var(--pivotick-node-selected-color));
    --pivotick-node-selected-animation: glowPulse 1.5s infinite;

    /* Edge defaults */
    --pivotick-edge-stroke: #999;
    --pivotick-edge-stroke-width: 2;
    --pivotick-edge-stroke-opacity: 1;
    --pivotick-edge-stroke-dasharray: 6, 4;
    --pivotick-edge-animation: dashmove 1s linear infinite;
    --pivotick-edge-filter: none;
    --pivotick-edge-label-bg: #ffffffa0;
    --pivotick-edge-label-font-family: system-ui, sans-serif;
    --pivotick-edge-label-font-size: 12px;
    --pivotick-edge-label-color: #333;
    --pivotick-edge-label-stroke: none;
    --pivotick-edge-label-stroke-width: 1;

    /* Edge selected state */
    --pivotick-edge-selected-stroke: orange;
    --pivotick-edge-selected-stroke-width: 5;
    --pivotick-edge-selected-stroke-opacity: 0.8;
    --pivotick-edge-selected-filter: drop-shadow(0 0 1px orange);
    --pivotick-edge-label-selected-stroke: orange;
    --pivotick-edge-label-selected-stroke-width: 2;
    --pivotick-edge-label-selected-color: var(--pivotick-edge-label-color);
    --pivotick-edge-label-selected-font-size: var(--pivotick-edge-label-font-size);
    --pivotick-edge-label-selected-bg: #ffffffa0;

    /* Component */
    --pivotick-inline-bar-bg: #e5e7eb;
    --pivotick-inline-bar-fill-bg: var(--pivotick-primary-bg-color);
    --pivotick-inline-bar-height: 0.5rem;
    --pivotick-inline-bar-width: 80px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --pivotick-bg: #031233;
        --pivotick-border-color: #455b8e;

        --pivotick-text-color: #fff;
        --pivotick-text-color-softer: #ccc;
        --pivotick-text-color-softer2: #aaa;
    
        /* Sidebar */
        --pivotick-sidebar-panelheader-bg: #2a457f;
        --pivotick-sidebar-panelbody-bg: #112d6a;
        --pivotic-sidebar-layout-shadow-right:
            rgba(255, 255, 255, 0.08) 2px 0px 3px 0px,
            rgba(255, 255, 255, 0.04) 3px 0px 2px 0px;
        --pivotic-sidebar-layout-shadow-bottom:
            rgba(255, 255, 255, 0.08) 3px 2px 3px 0px,
            rgba(255, 255, 255, 0.04) 2px 3px 2px 0px;
    
        /* Graph canvas */
        --pivotick-graph-grid-color: #3d3d3d99;
        --pivotick-graph-background-image:
            repeating-linear-gradient(0deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px),
            repeating-linear-gradient(90deg, var(--pivotick-graph-grid-color) 0px, var(--pivotick-graph-grid-color) 1px, transparent 1px, transparent 20px);
        --pivotic-graph-navigation-control-container-shadow:
            rgba(255, 255, 255, 0.15) 0px 0px 4px,
            rgba(255, 255, 255, 0.10) 0px 1px 2px;
    }
}

[data-theme="dark"] {
    --pivotick-bg: #031233;
}