.pivotick-graphcontrols-container {

    .pivotick-graphcontrols {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 12px;

        .pivotick-graphcontrols-panel {
            display: flex;
            flex-direction: column;
            background-color: color-mix(in srgb, var(--pivotick-bg) 80%, white);
            box-shadow: var(--pivotic-graph-navigation-control-container-shadow);
            border-radius: 4px;
            margin-bottom: 6px;
    
            .pivotick-divider {
                border-top: 1px solid color-mix(in srgb, var(--pivotick-border-color) 40%, transparent);
                margin: 5px 5px;
            }
        }

        .pivotick-graphcontrols-layout {
            button {
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                cursor: pointer;
                font-size: 1rem;
                width: 24px;
                height: 24px;
                color: color-mix(in srgb, var(--pivotick-text-color-softer) 80%, white);
                transition: font-size 0.15s ease;

                @media (prefers-color-scheme: dark) {
                    color: #bbb;
                }


                &:hover:not(:disabled),
                &:active:not(:disabled) {
                    color: color-mix(in srgb, var(--pivotick-text-color-softer) 70%, black);

                    @media (prefers-color-scheme: dark) {
                        color: #fff;
                    }
                }

                &:disabled {
                    filter: brightness(2);
                    cursor: not-allowed;
                }
            }
        }

        .pivotick-graphcontrols-selection {
            opacity: 0;
            transition: opacity 0.1s ease-out, transform 0.1s ease-out;
            transform: translateX(-10px);

            &.shown {
                opacity: 100;
                transform: translateX(0px);
            }

            .pivotick-graphcontrols-selection-topbar {
                display: flex;
                align-items: center;
                background-color: var(--pivotick-tooltip-floating-bg-color);
                padding: 2px;
    
                .pivotick-quickaction-list {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 0.5em;
    
                    .pivotick-button {
                        border-radius: 4px;
    
                        .pivotick-icon {
                            font-size: 20px;
                        }
                    }
    
                }
            }
    
            .pivotick-graphcontrols-selection-mainmenu {
                .pivotick-action-item {
                    padding: 6px 8px;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .pivotick-icon {
                        font-size: 20px;
                    }
    
                    .pivotick-action-text {
                        margin-left: 1em;
                        text-align: end;
                    }
                }
            }
    
            .pivotick-action-item-outline-primary:hover {
                background-color: var(--pivotick-primary-bg-color);
                color: var(--pivotick-text-color-for-primary);
            }
    
            .pivotick-action-item-outline-secondary:hover {
                background-color: var(--pivotick-secondary-bg-color);
                color: var(--pivotick-text-color-for-secondary);
            }
    
            .pivotick-action-item-outline-info:hover {
                background-color: var(--pivotick-info-bg-color);
                color: var(--pivotick-text-color-for-info);
            }
    
            .pivotick-action-item-outline-warning:hover {
                background-color: var(--pivotick-warning-bg-color);
                color: var(--pivotick-text-color-for-warning);
            }
    
            .pivotick-action-item-outline-danger:hover {
                background-color: var(--pivotick-danger-bg-color);
                color: var(--pivotick-text-color-for-danger);
            }
    
            .pivotick-action-item-outline-success:hover {
                background-color: var(--pivotick-success-bg-color);
                color: var(--pivotick-text-color-for-success);
            }
        }
    }
}