.pvt-graphcontrols {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    pointer-events: none;

    .pvt-graphcontrols {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 12px;

        .pvt-graphcontrols-panel {
            display: flex;
            flex-direction: column;
            background-color: color-mix(in srgb, var(--pvt-bg) 80%, white);
            box-shadow: var(--pvt-graph-navigation-control-container-shadow);
            border-radius: 4px;
            margin-bottom: 6px;
    
            .pivotick-divider {
                border-top: 1px solid color-mix(in srgb, var(--pvt-border-color) 40%, transparent);
                margin: 5px 5px;
            }
        }

        .pvt-graphcontrols-layout {
            pointer-events: all;

            .pvt-graphcontrols-layout-type-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .pvt-graphcontrols-layout-type-options {
                    max-width: 0;
                    display: flex;
                    flex-direction: row;
                    transition: max-width 0.2s ease-out;
                    overflow: hidden;
                }
            }

            &:hover .pvt-graphcontrols-layout-type-options {
                max-width: unset;
            }

            button {
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                cursor: pointer;
                font-size: 1rem;
                width: 24px;
                height: 24px;
                color: color-mix(in srgb, var(--pvt-text-color-5) 80%, white);
                transition: font-size 0.15s ease;

                @media (prefers-color-scheme: dark) {
                    color: #bbb;
                }

                &.with-text {
                    font-size: 0.7rem;
                    width: unset;
                    max-width: 10em;
                }


                &:hover:not(:disabled),
                &:active:not(:disabled) {
                    color: color-mix(in srgb, var(--pvt-text-color-5) 70%, black);

                    @media (prefers-color-scheme: dark) {
                        color: #fff;
                    }
                }

                &:disabled {
                    filter: brightness(2);
                    cursor: not-allowed;
                }
            }
        }

        .pvt-graphcontrols-selection {
            opacity: 0;
            transition: opacity 0.1s ease-out, transform 0.1s ease-out;
            transform: translateX(-10px);
            border-radius: 2px;

            &.shown {
                opacity: 100;
                transform: translateX(0px);
                pointer-events: all;
            }

            .pvt-graphcontrols-selection-title {
                font-size: 16px;
                font-weight: 600;
                color: var(--pvt-text-color-6);
                background-color: var(--pvt-sidebar-mainpanelheader-bg);
                border-bottom: 1px solid var(--pvt-tooltip-floating-bg-color);
                text-align: center;
                padding: 4px 8px;
                display: none; // Still not sure if that's a good idea to show
            }

            .pvt-graphcontrols-selection-topbar {
                display: flex;
                align-items: center;
                background-color: var(--pvt-sidebar-mainpanelheader-bg);
                border-bottom: 1px solid var(--pvt-tooltip-floating-bg-color);
                padding: 2px;
                margin-bottom: 4px;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
    
                .pivotick-quickaction-list {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 0em;
    
                    .pivotick-button {
                        border-radius: 4px;
    
                        .pivotick-icon {
                            font-size: 20px;
                        }
                    }
    
                }
            }
    
            .pvt-graphcontrols-selection-mainmenu {
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;

                .pivotick-action-item {
                    padding: 6px 8px;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .pivotick-icon {
                        font-size: 20px;
                    }
    
                    .pivotick-action-text {
                        margin-left: 1em;
                        text-align: end;
                    }
                }
            }
    
            .pivotick-action-item-outline-primary:hover {
                background-color: var(--pvt-bg-color-primary);
                color: var(--pvt-text-color-for-primary);
            }
    
            .pivotick-action-item-outline-secondary:hover {
                background-color: var(--pvt-bg-color-secondary);
                color: var(--pvt-text-color-for-secondary);
            }
    
            .pivotick-action-item-outline-info:hover {
                background-color: var(--pvt-bg-color-info);
                color: var(--pvt-text-color-for-info);
            }
    
            .pivotick-action-item-outline-warning:hover {
                background-color: var(--pvt-bg-color-warning);
                color: var(--pvt-text-color-for-warning);
            }
    
            .pivotick-action-item-outline-danger:hover {
                background-color: var(--pvt-bg-color-danger);
                color: var(--pvt-text-color-for-danger);
            }
    
            .pivotick-action-item-outline-success:hover {
                background-color: var(--pvt-bg-color-success);
                color: var(--pvt-text-color-for-success);
            }
        }
    }
}