.pivotick-graphcontrols-container {

    button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        cursor: pointer;
        font-size: 1rem;
        width: 24px;
        height: 24px;
        color: color-mix(in srgb, var(--pivotick-text-color-softer) 80%, white);
        transition: font-size 0.15s ease;

        @media (prefers-color-scheme: dark) {
            color: #bbb;
        }


        &:hover:not(:disabled),
        &:active:not(:disabled) {
            color: color-mix(in srgb, var(--pivotick-text-color-softer) 70%, black);

            @media (prefers-color-scheme: dark) {
                color: #fff;
            }
        }

        &:disabled {
            filter: brightness(2);
            cursor: not-allowed;
        }
    }

        .pivotick-graphcontrols {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .pivotick-graphcontrols-panel {
                display: flex;
                flex-direction: row;
                background-color: color-mix(in srgb, var(--pivotick-bg) 80%, white);
                box-shadow: var(--pivotic-graph-navigation-control-container-shadow);
                border-radius: 4px;
                margin-bottom: 6px;
        
                .pivotick-divider {
                    border-left: 1px solid color-mix(in srgb, var(--pivotick-border-color) 40%, transparent);
                    margin: 5px 5px;
                }
            }
        }
}