.pivotick-contextmenu {
    position: absolute;
    pointer-events: auto;
    background-color: var(--pivotick-sidebar-panelbody-bg);
    border: var(--pivotick-sidebar-panel-border);
    box-shadow: var(--pivotick-box-shadow-strong);
    font-size: 13px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    left: -10000px;
    opacity: 0;
    z-index: 1020;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    transform: translateY(-10px);
    min-width: 200px;
    border-radius: 4px;
    
    &.shown {
        opacity: 100;
        transform: translateY(0px);
    }
    
    .pivotick-contextmenu-topbar {
        display: flex;
        align-items: center;
        background-color: var(--pivotick-sidebar-panelheader-bg);
        border-bottom: 1px solid var(--pivotick-tooltip-floating-bg-color);
        padding: 2px;
        margin-bottom: 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        .pivotick-quickaction-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            .pivotick-button {
                border-radius: 4px;
                .pivotick-icon {
                    font-size: 20px;
                }
            }
            
        }
    }

    .pivotick-contextmenu-mainmenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background-color: var(--pivotick-sidebar-panelheader-bg);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        .pivotick-action-list {
            width: 100%;

            .pivotick-action-item {
                padding: 6px 8px;
                cursor: pointer;
                user-select: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                .pivotick-icon {
                    font-size: 20px;
                }
                .pivotick-action-text {
                    margin-left: 1em;
                    text-align: end;
                }
            }
        }
    }

    .pivotick-action-item-outline-primary:hover {
        background-color: var(--pivotick-primary-bg-color);
        color: var(--pivotick-text-color-for-primary);
    }

    .pivotick-action-item-outline-secondary:hover {
        background-color: var(--pivotick-secondary-bg-color);
        color: var(--pivotick-text-color-for-secondary);
    }

    .pivotick-action-item-outline-info:hover {
        background-color: var(--pivotick-info-bg-color);
        color: var(--pivotick-text-color-for-info);
    }

    .pivotick-action-item-outline-warning:hover {
        background-color: var(--pivotick-warning-bg-color);
        color: var(--pivotick-text-color-for-warning);
    }

    .pivotick-action-item-outline-danger:hover {
        background-color: var(--pivotick-danger-bg-color);
        color: var(--pivotick-text-color-for-danger);
    }

    .pivotick-action-item-outline-success:hover {
        background-color: var(--pivotick-success-bg-color);
        color: var(--pivotick-text-color-for-success);
    }
}