.pvt-contextmenu {
    position: absolute;
    pointer-events: auto;
    background-color: var(--pvt-sidebar-panelbody-bg);
    border: var(--pvt-sidebar-panel-border);
    box-shadow: var(--pvt-box-shadow-strong);
    font-size: 13px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    left: -10000px;
    opacity: 0;
    z-index: 1020;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    transform: translateY(-10px);
    min-width: 200px;
    border-radius: 4px;
    
    &.shown {
        opacity: 100;
        transform: translateY(0px);
    }
    
    .pvt-contextmenu-topbar {
        display: flex;
        align-items: center;
        background-color: var(--pvt-sidebar-mainpanelheader-bg);
        border-bottom: 1px solid var(--pvt-tooltip-floating-bg-color);
        padding: 2px;
        margin-bottom: 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        .pvt-action-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            .pivotick-button {
                border-radius: 4px;
                .pvt-icon {
                    font-size: 20px;
                }
            }
            
        }
    }

    .pvt-contextmenu-mainmenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background-color: var(--pvt-sidebar-mainpanelheader-bg);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        .pvt-action-list {
            width: 100%;

            .pvt-action-item {
                padding: 6px 8px;
                cursor: pointer;
                user-select: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                .pvt-icon {
                    font-size: 20px;
                }
                .pvt-action-text {
                    margin-left: 1em;
                    text-align: end;
                }
            }
        }
    }

    .pvt-action-item-primary {
        background-color: var(--pvt-bg-color-primary);
        color: var(--pvt-text-color-for-primary);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-primary) 80%, #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-primary) 80%, #fff);
        }
    }

    .pvt-action-item-secondary {
        background-color: var(--pvt-bg-color-secondary);
        color: var(--pvt-text-color-for-secondary);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-primary), #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-primary) 80%, secondary);
        }
    }

    .pvt-action-item-info {
        background-color: var(--pvt-bg-color-info);
        color: var(--pvt-text-color-for-info);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-info) 80%, #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-info) 80%, #fff);
        }
    }

    .pvt-action-item-warning {
        background-color: var(--pvt-bg-color-warning);
        color: var(--pvt-text-color-for-warning);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-warning) 80%, #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-warning) 80%, #fff);
        }
    }

    .pvt-action-item-danger {
        background-color: var(--pvt-bg-color-danger);
        color: var(--pvt-text-color-for-danger);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-danger) 80%, #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-danger) 80%, #fff);
        }
    }

    .pvt-action-item-success {
        background-color: var(--pvt-bg-color-success);
        color: var(--pvt-text-color-for-success);

        &:hover {
            background-color: color-mix(in srgb, var(--pvt-bg-color-success) 80%, #000);
            color: color-mix(in srgb, var(--pvt-text-color-for-success) 80%, #fff);
        }
    }


    .pvt-action-item-outline-primary:hover {
        background-color: var(--pvt-bg-color-primary);
        color: var(--pvt-text-color-for-primary);
    }

    .pvt-action-item-outline-secondary:hover {
        background-color: var(--pvt-bg-color-secondary);
        color: var(--pvt-text-color-for-secondary);
    }

    .pvt-action-item-outline-info:hover {
        background-color: var(--pvt-bg-color-info);
        color: var(--pvt-text-color-for-info);
    }

    .pvt-action-item-outline-warning:hover {
        background-color: var(--pvt-bg-color-warning);
        color: var(--pvt-text-color-for-warning);
    }

    .pvt-action-item-outline-danger:hover {
        background-color: var(--pvt-bg-color-danger);
        color: var(--pvt-text-color-for-danger);
    }

    .pvt-action-item-outline-success:hover {
        background-color: var(--pvt-bg-color-success);
        color: var(--pvt-text-color-for-success);
    }
}