.pivotick-graphnavigation-container {

    button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        cursor: pointer;
        font-size: 1.0rem;
        color: color-mix(in srgb, var(--pivotick-text-color-dark) 80%, white);
        transition: font-size 0.15s ease;

        &:hover,
        &:active {
            color: color-mix(in srgb, var(--pivotick-text-color-dark) 70%, black);
        }
    }

    .pivotick-graphnavigation-zoom-fit {
        background-color: var(--pivotick-bg);
        box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 4px, rgba(0, 0, 0, 0.30) 0px 1px 2px;
        border-radius: 4px;
        margin-bottom: 6px;
    }

    .pivotick-graphnavigation-zoom-controls {
        display: flex;
        flex-direction: column;
        background-color: var(--pivotick-bg);
        box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 4px, rgba(0, 0, 0, 0.30) 0px 1px 2px;
        border-radius: 4px;

        .pivotick-zoom-divider {
            border-top: 1px solid color-mix(in srgb, var(--pivotick-border-color) 40%, transparent);
            margin: 0 5px;
        }
    }
}