.pivotick-graphnavigation-container {

    button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        cursor: pointer;
        font-size: 1.0rem;
        color: color-mix(in srgb, var(--pivotick-text-color-5) 80%, white);
        transition: font-size 0.15s ease;
        @media (prefers-color-scheme: dark) {
            color: #bbb;
        }

        &:hover,
        &:active {
            color: color-mix(in srgb, var(--pivotick-text-color-5) 70%, black);
            @media (prefers-color-scheme: dark) {
                color: #fff;
            }
        }
    }

    .pivotick-graphnavigation-zoom-fit {
        background-color: color-mix(in srgb, var(--pivotick-bg) 80%, white);
        box-shadow: var(--pivotic-graph-navigation-control-container-shadow);
        border-radius: 4px;
        margin-bottom: 6px;
    }

    .pivotick-graphnavigation-zoom-controls {
        display: flex;
        flex-direction: column;
        background-color: color-mix(in srgb, var(--pivotick-bg) 80%, white);
        box-shadow: var(--pivotic-graph-navigation-control-container-shadow);
        border-radius: 4px;

        .pivotick-zoom-divider {
            border-top: 1px solid color-mix(in srgb, var(--pivotick-border-color) 40%, transparent);
            margin: 0 5px;
        }
    }
}