.pvt-note-fo {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.pvt-note {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    overflow: hidden;

    background: var(--note-color);
    color: #333;

    transition:
        opacity 120ms ease,
        stroke 120ms ease,
        stroke-width 120ms ease,
        filter 120ms ease;

    .pvt-note-header {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        background: rgba(255, 255, 255, 0.25);
        cursor: move;

        .pvt-note-color-pills {
            display: none;
            gap: 2px;

            .pvt-note-color-pill {
                width: 8px;
                height: 8px;
                box-sizing: border-box;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 999px;

                cursor: pointer;
                transform-box: fill-box;
                transform-origin: center;

                transition:
                    transform 120ms ease;

                &:hover, &.pill-active {
                    transform: scale(1.25);
                }
            }
        }

        .pvt-note-actions {
            display: none;
            flex-direction: row-reverse;

            .pvt-node-edit-button {
                margin-left: auto;
            }

            .pvt-node-remove-button {
                display: none;
            }
        }
    }

    .pvt-note-link-container {
        display: none;

        &.has-link {
            display: block;
        }

        .pvt-note-link-subcontainer {
            display: flex;
            flex-direction: row;
            height: 24px;
            padding: 0 6px;
            gap: 4px;
            cursor: default;
            box-sizing: border-box;
        
            background: rgba(255, 255, 255, 0.1);
            box-shadow:
                inset 0 1px 2px rgba(0, 0, 0, 0.12),
                inset 0 -1px 2px rgba(0, 0, 0, 0.12);
            font-size: 0.8rem;

            .pvt-note-link-content {
                width: 100%;
                display: flex;
                align-items: center;

                .pvt-note-link-placeholder {
                    display: inline-flex;
                    align-items: center;
                    gap: 6px;
                    font-style: italic;
                    opacity: 0.6;
                }

                .pvt-note-link-placeholder-icon {
                    width: 12px !important;
                    height: 12px !important;
                    opacity: 0.7;
                }

                .pvt-note-link-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;

                    width: 100%;

                    .unlink-note {
                        display: none;
                    }
                }

            }
        }
    }


    .pvt-note-content {
        flex: 1;
        min-height: 0;
        overflow: auto;
        padding: 8px;
        margin: 4px;
        font-size: 14px;
        font-family: sans-serif;

        outline: none;
        background: transparent;

        cursor: text;

        .pvt-note-content-rendered {
            width: 100%;
            height: 100%;
            overflow: auto;
            white-space: normal;
            word-break: break-word;

            &.pvt-markdown {
                color: #333;
            }
        }

        .pvt-note-editor {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 0;

            resize: none;
            border: none;
            outline: none;
            background: transparent;

            font: inherit;
            color: inherit;

            display: none;

            overflow: auto;
        }
    }

    .pvt-note-resize-handle {
        background: rgba(0, 0, 0, 0.2);
        cursor: nwse-resize;
        pointer-events: all;
        border-radius: 3px 0 0 0;
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &.dragging {
        opacity: 0.9;
        filter: drop-shadow(4px 4px 6px var(--pvt-box-shadow-color-strong));

        .pvt-note-header {
            cursor: grabbing;
        }
    }

    &.editing {

        .pvt-note-header {

            .pvt-note-color-pills {
                display: inline-flex;
            }

            .pvt-note-actions {
                display: inline-flex;

                .pvt-node-remove-button {
                    display: inline-flex;
                }
            }
        }

        .pvt-note-link-container {
            display: block;

            .pvt-note-link-subcontainer {
                cursor: pointer;
            }
        }

        .pvt-note-content {
            cursor: text;
            caret-color: #111;
            backdrop-filter: blur(2px);

            filter:
                brightness(1.1) drop-shadow(8px 8px 8px var(--pvt-box-shadow-color-strong));

            box-shadow:
                inset 0 1px 2px rgba(0, 0, 0, 0.1),
                inset 0 -1px 2px rgba(0, 0, 0, 0.1);
        }

        .pvt-note-link-row {
            .unlink-note {
                display: block !important;
            }
        }
    }

    &:hover {
        .pvt-note-header .pvt-note-actions {
            display: inline-flex;
            width: 100%;
        }
    }
}

