.pvt-graphtoolbar {
    display: flex;
    position: relative;
    background-color: color-mix(in srgb, var(--pvt-bg) 80%, white);
    box-shadow: var(--pvt-graph-navigation-control-container-shadow);
    border-radius: 4px;

    transition:
        background-color 180ms ease,
        box-shadow 180ms ease,
        transform 180ms ease,
        border-color 180ms ease;

    .edit-mode-button-container {
        margin-left: auto;
    }

    &.edit-mode-active {
        .edit-mode-button-container {
            button svg .edit-icon-underline {
                stroke-dashoffset: 0;
                opacity: 1;
            }
        }
    }

    button svg .edit-icon-underline {
        stroke-dasharray: 8;
        stroke-dashoffset: 8;
        opacity: 0;
        transition:
            stroke-dashoffset 180ms ease,
            opacity 90ms ease;
    }

    .pvt-graphtoolbar-elements {
        display: flex;
        flex-shrink: 1;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 2px 8px;
        overflow: hidden;

        .pvt-toolbar-group {
            display: none;
            align-items: center;
            flex-shrink: 0;
            flex-direction: row;
            gap: 4px;
            padding: 2px 0 2px 0;
            border-right: 0px solid transparent;
            opacity: 0;
            pointer-events: none;
            // max-width: 0;
            overflow: hidden;
            white-space: nowrap;
            transition:
                opacity 90ms ease,
                transform 180ms ease,
                max-width 180ms ease,
                padding 180ms ease,
                margin 180ms ease;

            &.visible {
                display: inline-flex;
                opacity: 1;
                // max-width: 500px;
                pointer-events: auto;

                border-right-width: 1px;
                padding-right: 10px;
                margin-right: 10px;
                border-right-color: var(--pvt-bg-color-9);

            }
        }
    }
}