.pvt-tooltip {
    position: absolute;
    pointer-events: auto;
    background-color: var(--pvt-menu-bg-color);
    border: var(--pvt-menu-border-color);
    box-shadow: var(--pvt-menu-shadow);
    font-size: 13px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    left: -10000px;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    z-index: 1000;

    &.shown {
        opacity: 100;
    }

    &.pvt-tooltip-floating {
        border-color: var(--pvt-tooltip-floating-bg-color);
    }

    .pvt-tooltip-topbar {
        display: flex;
        align-items: center;
        background-color: var(--pvt-tooltip-floating-bg-color);
        padding: 2px;

        &.draggable {
            cursor: grab;
            user-select: none;

            :active {
                cursor: grabbing;
            }
        }

        .close-button {
            margin-left: auto;
        }
    }

    .pvt-tooltip-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 500px;
        max-height: 500px;
        min-width: 200px;
        min-height: 100px;
        resize: auto;
        overflow: hidden;

        &::before {
            --oversize-container-size: 10px;
            content: '';
            position: absolute;
            top: calc(-1*var(--oversize-container-size));
            left: calc(-1*var(--oversize-container-size));
            width: calc(100% + calc(2*var(--oversize-container-size)));
            height: calc(100% + calc(2*var(--oversize-container-size)));
            background: rgba(0, 0, 0, 0);
            z-index: -1;
        }

        .pvt-mainheader-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 12px 8px 4px 8px;
            border-bottom: var(--pvt-sidebar-panel-border);
            background-color: var(--pvt-sidebar-mainpanelheader-bg);

            .pvt-mainheader-topright {
                position: absolute;
                top: 2px;
                right: 2px;
                color: var(--pvt-text-color-2)
            }
            
            .pvt-mainheader-nodepreview {
                flex-shrink: 0;
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--pvt-mainheader-nodepreview-bg);
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px hsla(0, 0%, 0%, .05);
    
                .pvt-mainheader-icon {
                    width: 32px;
                    height: 32px;
                }
            }

            .pvt-mainheader-nodeinfo {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Segoe UI', sans-serif;

                .pvt-mainheader-nodeinfo-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--pvt-text-color-6);
                    user-select: all;
                    white-space: wrap;
                }

                .pvt-mainheader-nodeinfo-subtitle {
                    font-size: 12px;
                    color: var(--pvt-text-color-5);
                    user-select: all;
                    white-space: wrap;
                }

                .pvt-mainheader-nodeinfo-action {
                    flex-shrink: 1;
                }
            }
        }
    
        .pvt-properties-container {
            margin-bottom: 4px;

            dl.pvt-property-list {
                background: var(--pvt-bg-color-6);
                gap: 0px 12px;

                .pvt-property-row {
                    padding: 0.2em;
                }
            }
        }

        .pivotick-extra-content-container {
            padding: 8px;
        }
    }
}

.pivotick-shadowlink-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    path.pivotick-shadowlink {
        stroke: color-mix(in srgb, var(--pvt-edge-stroke) 100%, #ffffff00);
        stroke-width: 2;
        stroke-opacity: 0.3;
        stroke-dasharray: var(--pvt-edge-stroke-dasharray);
        animation: var(--pvt-edge-animation);
    }
}
