.pivotick-tooltip {
    position: absolute;
    pointer-events: auto;
    background-color: var(--pivotick-sidebar-panelbody-bg);
    border: var(--pivotick-sidebar-panel-border);
    box-shadow: var(--pivotick-box-shadow-strong);
    font-size: 13px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    left: -10000px;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    z-index: 1000;

    &.shown {
        opacity: 100;
    }

    &.pivotick-tooltip-floating {
        border-color: var(--pivotick-primary-bg-color);
    }

    .pivotick-tooltip-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .pivotick-mainheader-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-bottom: var(--pivotick-sidebar-panel-border);
            background-color: var(--pivotick-sidebar-panelheader-bg);

            &.draggable {
                cursor: grab;
                user-select: none;

                :active {
                    cursor: grabbing;
                }
            }

            .pivotick-mainheader-topright {
                position: absolute;
                top: 2px;
                right: 2px;
            }
            
            .pivotick-mainheader-nodepreview {
                flex-shrink: 0;
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--pivotick-mainheader-nodepreview-bg);
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px hsla(0, 0%, 0%, .05);
    
                .pivotick-mainheader-icon {
                    width: 32px;
                    height: 32px;
                }
            }

            .pivotick-mainheader-nodeinfo {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Segoe UI', sans-serif;

                .pivotick-mainheader-nodeinfo-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--pivotick-text-color);
                }

                .pivotick-mainheader-nodeinfo-subtitle {
                    font-size: 12px;
                    color: var(--pivotick-text-color-softer);
                }

                .pivotick-mainheader-nodeinfo-action {
                    flex-shrink: 1;
                }
            }
        }
    
        .pivotick-properties-container {
            padding: 8px;

            dl.pivotick-property-list {
                padding: 4px 2px;
                box-shadow: var(--pivotick-box-shadow-light);
                border: var(--pivotick-sidebar-panel-border);

                .pivotick-property-row {
                    padding: 0.2em;
                }
            }
        }
    }

}